

html,
body,
p,
ol,
ul,
li,
textarea,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0;  
padding: 0
} 

h1,
h2,
h3,
h4,
h5,
h6 {
font-size: 100%;
font-weight: normal
}

ul {
list-style: none
}
menu {
  list-style: none;
}

button,
input {
margin: 0
}

*,
*::before,
*::after {
box-sizing: border-box
}

img{
display: block;
height: auto;
max-width: 100%
}
a {
text-decoration: none;
color: currentColor;
}



/** /контейнер для центрування контенту, розміри згідно макету/ */
 .container {
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
width: 1200px;
} 

/** // візуально приховати елементи */
/* .visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
overflow: hidden;
border: 0;
clip: rect(0 0 0 0);
} */

 body {
  font-family: Roboto;
  line-height: normal;
}


/* ==================================header ========================= */

.nav-list {
  display: flex;
  gap: 50px;
 
 }
 .nav-list-item:hover {
  color: #2196F3;

 }

.nav-list-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-list-item {
  text-decoration: none;
  position: relative;
}

/* Створюємо підкреслення */
.nav-list-item::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -5px;
  background-color: blue;
  transition: width 0.3s ease;
  }

/* Ефект hover */
.nav-list-item:hover::after {
  width: 100%;
}


   .header  {
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 24px;
    justify-content: space-between;
}

   .logo {
    color: #000;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
   }
   .nav {
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}
 
 .contacts-list {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  display: flex;
  gap: 50px;
  }
  
 .contacts-list-item:hover {
 color: #2196F3;
  } 

  .contacts-icon {
  fill: #757575;
}
 .contacts-icon:hover {
  fill: #2196F3;
} 

    
   /* ==================================section-hero========================== */
   .section-hero {
    width: 1600px;
    height: 600px;
    background-color: #2F303A;
    display: block;
    background-image: url(./img/background_hero.jpg);
   }
   .hero {
    width: 696px;
    color: #FFF;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1,6; 
    letter-spacing: 2.64px;
    margin: 0 auto;
    padding-top: 200px;
    margin-bottom: 30px;
   
 
  }

   .hero-button {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 187.5%; 
    letter-spacing: 0.96px;
    border: none;
    padding: 10px 32px;
    border-radius: 4px;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin: 0 auto;  
    display: block;
    }
    
   
   
   /* =====================================section-features=========================== */
   .features {
    padding-bottom: 0;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin-top: 94px;
   }
   
   .feature-wrap {
    background-color: #f5f4fa;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 100px;
}

   .features-img {
    border-radius: 4px;
   }
   
   .features-item  {
    width: 270px;
   }
  

   .features-text { 
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    display: flex;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
  }


   
  .features-desc {
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
    margin-bottom: 47px;

   }
      
   
   /* =================================section-work========================= */
   
   .section-work {
 padding-top: 0px;
 padding-bottom: 94px; 

}
  .work-list {
    display: flex;
    align-content: center;


  }
    .section-work-title {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    text-align: center;
    margin-top: 47px;
    margin-bottom: 50px;

}
 .work-list {
  column-gap: 30px;
  display: flex;
  justify-content: space-between;
 

 }
   
  
   /* ======================================section-team============================= */
   .section-team {
    background: #F5F4FA;
   }
   
   .section-team-title  {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin:  0px 0 50px 0;
    padding-top: 94px;
   }
   
   .team-list {
    padding-bottom: 94px;
    display: flex;
    justify-content: center;
    column-gap: 30px; 
    flex-basis: calc((100% - 20px) / 3);
    
    }
    
    .team-list-item {
      border-radius: 0px 0px 4px 4px; 
     background: #fff; 
     box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    }
  
   .team-list-title {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    margin: 30px 0 10px 0;
   } 
   
   
   .team-list-text {
    color: #757575;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
   }
   .team-list-icons {
    gap: 34px;
    display: flex;
    justify-content: center;
    align-items: center; 
   }
   .team-list-icon {
    fill: #AFB1B8;
    margin-bottom: 30px;
    margin-top: 16px;

    
    }
   
   
   /* ===========================================section-review==================== */
   
    .section-review-title {
    margin-top: 94px;
    margin-bottom: 50px; 
    }
   
    .review-list {
    margin-bottom: 94px;
    fill: #AFB1B8;
    display: flex;;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
    
    }
    .review-list-item:hover {
      fill: #2196F3;
      border: 1px solid #2196F3;
    }

    .review-list-item {
      border-radius: 4px;
      border: 1px solid #AFB1B8;
      padding: 16px 32px;   
     }

   .section-review-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  }
























   /* ========================================footer================================== */
   
   
   .footer {
 background-color: #2F303A;
 
}

.footer-logo {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.adress {
  /* width: auto;
  display: inline-block;
  padding: 0;
  margin: 0; */
}
 .adress-list {
  color: rgba(255, 255, 255, 0.60);
  font-size: 14px;
  font-weight: 400;
  line-height: 171.429%; 
  letter-spacing: 0.42px;
  width: auto;
  display: inline-block;

}

.adress-list-desc {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 171.429%; 
  letter-spacing: 0.42px;
 }

 .adress-list-item {
color: rgba(255, 255, 255, 0.60);
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 171.429%; 
letter-spacing: 0.42px;
 }
 
 .footer-text  {
  color: #FFF;
font-family: Roboto;
font-weight: 700;
letter-spacing: 0.42px;
text-transform: uppercase;
text-align: center;
}
.actions-footer-list{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.actions-footer-icon {
  fill: #FFF;
  background-color: rgba(255, 255, 255, 0.10);
  ;
}
.actions-footer-icons:hover {
  background-color: #2196F3;
}
.footer-button{
  width: 200px;
border-radius: 4px;
background: #2196F3;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.form-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  }
  
  .form-footer-label {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase
  }
  
  .form-footer-input {
  background-color: #2F303A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  }
  
  .form-footer-submit-button{
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 187.5%;
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }
  .form-footer-icon {
    fill: #FFF;
  }


 /* ========================================portfolio==================================*/

 

  .filters-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 94px;
 } 
 .filters-list-item {
  border-radius: 4px;
  background: #F5F4FA;
 }
 .filters-list-btn {
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 162.5%; 
  letter-spacing: 0.48px;
  padding: 6px 22px 6px 22px;
   }
   .filters-list-btn:hover {
    background-color: #2196F3;
    border: #2196F3;
    border-radius: 4px;
   }

 .projekts-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 94px;
  gap: 30px;
 }
 .projekts-list-item {
  background: #FFF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
 }

 .projects-list-img {
  display: flex;
  align-content: center;
  justify-content: space-around;
}
.projekts-list-title {
  color: #212121;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 200%; 
  letter-spacing: 1.08px;
  margin: 20px 0 0 24px;
}

.projekts-list-text {
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 187.5%; 
  letter-spacing: 0.48px;
  margin: 0 0 20px 24px;

}

