.bg-box {
    background-image: url(https://img2.goodfon.ru/wallpaper/big/0/5b/pole-zelen-trava-dom-derevya.jpg), url(./img/green-png-44873.png) ;
    background-size: contain,auto;
    background-position: center,bottom;
    background-repeat: no-repeat,repeat;
    width: 596px;
    height: 380px;
}